// Color Variables
$primary-color: #00aaa1;
$text-color: #666666;
$text-color-dark: #222222;
$text-color-light: #959595;
$body-color: rgb(248, 248, 248);
$border-color: #acb9c4;
$black: #000;
$white: #fff;
$gray: #f4fcff;

// Font Variables
$primary-font: "Raleway", sans-serif;
$icon-font: "themify";
